{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "styleComp": "./static/style/components",
            "styleGlobal": "./static/style/global",
            "stylePages": "./static/style/pages",
            "comp": "./components",
            "@/public": "./public",
            "@/reducers": "./reducers",
            "@/utils": "./utils"
          }
        }
      ]
    ]
  }